<html>

<head>
  <style>
    html,
    body {
      background-color: #000;
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden !important;
      font-family: sans;
    }

    .controlsHelp {
      color: rgba(255, 255, 255, .6);
      position: fixed;
      top: 4px;
      left: 10px;
    }

    #showControlsButton {
      color: rgba(255, 255, 255, .6);
      background-color: transparent;
      position: fixed;
      top: 4px;
      left: 10px;
      border: 1px solid rgba(255, 255, 255, .6);
      border-radius: 5px;
      cursor: pointer;
      visibility: hidden;
    }
  </style>

  <div id="controls" class="controlsHelp">
    <p><strong>Controls</strong>:</p>
    <p>WASD: Move</p>
    <p>Arrow Keys: Turn Camera</p>
    <p><em>Press any key to hide this text.</em></p>
  </div>
  <button id="showControlsButton">Show controls</button>

  <script type="module">
    import * as THREE from "https://unpkg.com/three@0.138.3/build/three.module.js";

    let renderer = new THREE.WebGLRenderer();
    let scene, camera;
    let controlsVisible = true;

    let zNearWall = -10; // position at the start of the gallery hall
    let zFarWall = 0; // position at the end of the gallery hall

    const controlsText = document.getElementById("controls");
    const showControlsButton = document.getElementById("showControlsButton");
    showControlsButton.onclick = () => {
      if (!controlsVisible) {
        controlsVisible = true;
        showControlsButton.style.visibility = "hidden";
        controlsText.style.visibility = "visible";
      }
    }

    window.onload = function () {
      camera = new THREE.PerspectiveCamera(
        75,
        window.innerWidth / window.innerHeight,
        0.1,
        1000
      );

      let lastTime = Date.now();
      const keydownMap = {};

      const keydownHandler = function (e) {
        if (controlsVisible) {
          controlsVisible = false;
          controlsText.style.visibility = "hidden";
          showControlsButton.style.visibility = "visible";
        }
        keydownMap[e.key] = true;
      };

      const keyupHandler = function (e) {
        keydownMap[e.key] = false;
      };

      window.addEventListener('keydown', keydownHandler);
      window.addEventListener('keyup', keyupHandler);

      (async function () {
        scene = new THREE.Scene();
        scene.background = new THREE.Color('<%= backgroundColor; %>');

        renderer.setSize(
          window.innerWidth,
          window.innerHeight
        );
        document.body.appendChild(renderer.domElement);

        const GAP_ON_WALL = 1;
        const imageURLs = [
          <% for (imageUrl of imageUrls) { %>
          '<%= imageUrl %>',
            <% } %>

        ]; // Placeholder for image files, replace with actual files

        for (let i = 0; i < imageURLs.length; i++) {
          const blobURL = imageURLs[i];

          const imageDimensions = await getImageDimensions(blobURL);
          const loader = new THREE.TextureLoader();

          loader.load(
            blobURL,
            function (texture) {
              const material = new THREE.MeshBasicMaterial({map: texture});
              const geometry = new THREE.PlaneGeometry(imageDimensions.width / imageDimensions.height, 1);
              const plane = new THREE.Mesh(geometry, material);
              scene.add(plane);

              plane.position.y = 0;
              if (i % 2 === 0) {
                plane.position.x = 2;
                plane.position.z = 2 - (Math.floor(i / 2) + (GAP_ON_WALL * Math.floor(i / 2)));
                plane.rotation.y = -(Math.PI / 2);
              } else {
                plane.position.x = -2;
                plane.position.z = 2 - (Math.floor(i / 2) + (GAP_ON_WALL * Math.floor(i / 2)));
                plane.rotation.y = Math.PI / 2;
              }
              const zEnd = plane.position.z + 1;
              if (zEnd > zFarWall) {
                zFarWall = zEnd;
              }

              renderer.render(scene, camera);

              URL.revokeObjectURL(blobURL);
            },
            undefined,
            function (error) {
              console.error('Error loading texture:', error);
            }
          );
        }

        camera.position.z = 5;

        function moveCamera(distance, direction) {
          const newZPosition = camera.position.z + Math.cos(direction) * distance;
          const newXPosition = camera.position.x + Math.sin(direction) * distance;
          console.log('z', newZPosition, camera.position.z);
          console.log('x', newXPosition, camera.position.x);
          if (newZPosition < zNearWall) {
            console.log('near', camera.position.z, zNearWall)
            camera.position.z = zNearWall;
          } else if (newZPosition > zFarWall) {
            console.log('far', camera.position.z, zFarWall)
            camera.position.z = zFarWall;
          } else {
            camera.position.z = newZPosition;
          }
          console.log('bounds', zNearWall, zFarWall)
          camera.position.x = newXPosition;
          camera.position.z = newZPosition;
        }

        // Animation Loop
        const animate = function () {
          requestAnimationFrame(animate);
          const deltaTime = Date.now() - lastTime;
          lastTime = Date.now();

          const distance = -deltaTime / 300;
          const cameraRotation = camera.rotation.y;

          if (keydownMap["w"]) {
            moveCamera(distance, cameraRotation);
          }

          if (keydownMap["s"]) {
            moveCamera(distance, cameraRotation + Math.PI);
          }
          if (keydownMap["d"]) {
            moveCamera(distance, cameraRotation - (Math.PI / 2));
          }
          if (keydownMap["a"]) {
            moveCamera(distance, cameraRotation + (Math.PI / 2));
          }
          if (keydownMap["ArrowRight"]) {
            camera.rotation.y -= deltaTime / 600;
          }
          if (keydownMap["ArrowLeft"]) {
            camera.rotation.y += deltaTime / 600;
          }

          renderer.render(scene, camera);
        };

        animate();
      })();

      function getImageDimensions(blobURL) {
        return new Promise((resolve) => {
          const img = new Image();
          img.onload = function () {
            resolve({width: img.width, height: img.height});
          };
          img.src = blobURL;
        });
      }
    };
  </script>
</head>

<body></body>

</html>
