<html>

<head>
  <style>
    html,
    body {
      background-color: #000;
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden !important;
    }
  </style>

  <script type="module">
    import * as THREE from "https://unpkg.com/three@0.138.3/build/three.module.js";

    let renderer = new THREE.WebGLRenderer();
    let scene, camera;

    window.onload = function () {
      camera = new THREE.PerspectiveCamera(
        75,
        window.innerWidth / window.innerHeight,
        0.1,
        1000
      );

      let lastTime = Date.now();
      const keydownMap = {};

      const keydownHandler = function (e) {
        keydownMap[e.key] = true;
      };

      const keyupHandler = function (e) {
        keydownMap[e.key] = false;
      };

      window.addEventListener('keydown', keydownHandler);
      window.addEventListener('keyup', keyupHandler);

      (async function () {
        scene = new THREE.Scene();
        scene.background = new THREE.Color('<%= backgroundColor; %>');

        renderer.setSize(
          window.innerWidth,
          window.innerHeight
        );
        document.body.appendChild(renderer.domElement);

        const GAP_ON_WALL = 1;
        const imageURLs = [
          <% for (imageUrl of imageUrls) { %>
              '<%= imageUrl %>',
            <% } %>

        ]; // Placeholder for image files, replace with actual files

        for (let i = 0; i < imageURLs.length; i++) {
          const blobURL = imageURLs[i];

          const imageDimensions = await getImageDimensions(blobURL);
          const loader = new THREE.TextureLoader();

          loader.load(
            blobURL,
            function (texture) {
              const material = new THREE.MeshBasicMaterial({ map: texture });
              const geometry = new THREE.PlaneGeometry(imageDimensions.width / imageDimensions.height, 1);
              const plane = new THREE.Mesh(geometry, material);
              scene.add(plane);

              plane.position.y = 0;
              if (i % 2 === 0) {
                plane.position.x = 2;
                plane.position.z = 2 - (Math.floor(i / 2) + (GAP_ON_WALL * Math.floor(i / 2)));
                plane.rotation.y = -(Math.PI / 2);
              } else {
                plane.position.x = -2;
                plane.position.z = 2 - (Math.floor(i / 2) + (GAP_ON_WALL * Math.floor(i / 2)));
                plane.rotation.y = Math.PI / 2;
              }
              renderer.render(scene, camera);

              URL.revokeObjectURL(blobURL);
            },
            undefined,
            function (error) {
              console.error('Error loading texture:', error);
            }
          );
        }

        camera.position.z = 5;

        // Animation Loop
        const animate = function () {
          requestAnimationFrame(animate);
          const deltaTime = Date.now() - lastTime;
          lastTime = Date.now();

          if (keydownMap["w"]) {
            camera.translateZ(-deltaTime / 300);
          }
          if (keydownMap["s"]) {
            camera.translateZ(deltaTime / 300);
          }
          if (keydownMap["d"]) {
            camera.translateX(deltaTime / 300);
          }
          if (keydownMap["a"]) {
            camera.translateX(-deltaTime / 300);
          }
          if (keydownMap["ArrowRight"]) {
            camera.rotation.y -= deltaTime / 600;
          }
          if (keydownMap["ArrowLeft"]) {
            camera.rotation.y += deltaTime / 600;
          }

          renderer.render(scene, camera);
        };

        animate();
      })();

      function getImageDimensions(blobURL) {
        return new Promise((resolve) => {
          const img = new Image();
          img.onload = function () {
            resolve({ width: img.width, height: img.height });
          };
          img.src = blobURL;
        });
      }
    };
  </script>
</head>

<body></body>

</html>
